// ---- Global Docker settings ----
docker {
  enabled = true
}

// ---- Global AWS credentials (only used if awsbatch profile is active) ----
aws {
  accessKey = '*'
  secretKey = '*'
  region = 'us-east-2'
}

// ---- Default parameters ----
params {
  input = 'test_data'
  output = 'assembly_out'
  downsample=500
  genome_size = '10k'
  run = "202505021PacbioPlasmid"
}

// ---- Profiles ----
profiles {

  // --- For GitHub Actions CI or local dev ---
  test {
    process.executor = 'local'
    docker.enabled = true
    params {
      output = 'ci_output'
      input = 'test_data'
    }
  }

  // --- Optional: production run with AWS Batch ---
  awsbatch {
    process {
      executor = 'awsbatch'
      queue = 'spot_low_priority'
      
    }

  }
}

// ---- Process-specific settings (default local + docker) ----
process {
            withName:LENGTH_FILTER_RANGE {
                container = 'seqwell/fq_assemble:v1.0'
                memory = '7.0G'
                cpus = 2
            }        
           
            withName:DOWNSAMPLE {
                container = 'seqwell/seqtk:v1.0'
                memory = '7.0G'
                cpus = 2
            }
            withName:FLYE_ASSEMBLE {
                container = 'cautree/flye:latest'
                memory = '7.0G'
                cpus = 2
            }
            withName:MINIMAP2 {
                container = 'cautree/minimap2'
                memory = '7.0G'
                cpus = 2
            }
            
            withName:QUAST {
                container = 'cautree/quast'
                memory = '7.0G'
                cpus = 2
            }
           withName:BAM_READ_COUNT {
                container = 'cautree/fq_assemble'
                memory = '7.0G'
                cpus = 2
            }
            withName:PLANNOTATE {
                container = 'cautree/fq_assemble'
                memory = '7.0G'
                cpus = 2
            }
            withName:FIX_START {
                container = 'cautree/fq_assemble'
                memory = '7.0G'
                cpus = 2
            }
            withName:CIRCLATOR_MINIMUS2 {
                container = 'seqwell/circlator'
                memory = '7.0G'
                cpus = 2
            }
            withName:SUMMARIZE {
                container = 'cautree/python'
                memory = '7.0G'
                cpus = 2
            }
            withName:ANALYZE_BAM_READ_COUNT {
                container = 'rocker/tidyverse:latest'
                memory = '7.0G'
                cpus = 2
            }
            withName:PLASMIDMAP {
                container = 'seqwell/tidyverse-plasmapr:v4.4'
                memory = '7.0G'
                cpus = 2
            } 
            withName:TRYCYCLER_CONSENSUS {
                container = 'seqwell/trycycler:0.5.5'
                memory = '7.0G'
                cpus = 2
            }
            withName:SELECT_FA {
                container = 'cautree/fq_assemble'
                memory = '7.0G'
                cpus = 2
            }
           
             withName:PYSAMSATS {
              memory = '7.0G'
              cpus = 2
              container = 'quay.io/biocontainers/pysamstats:1.1.2--py311h384fd50_15'
              
            }
            
}
